*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

nav, footer{
    flex-shrink: 0;
}

section{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav{
    border-bottom: 1px solid black;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
nav ul li{
    list-style: none;
    padding: 10px;
    margin: 10px;
}
#logo{
    width: 80vw;
    height: 200px;
    background-color: red;
}
.layer{
    background-color: lightgray;
    width: 100%;
    padding: 10px 0; 
}